.technologies {
  width: 100%;
  height: auto;
  color: white;
}
.technologies_Info {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr 1fr;
  justify-content: space-evenly;
  gap: 30px;
}

.technologies_Info div {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.technologiesTwo_Info {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.technologiesTwo_Info li {
  list-style-type: none;
  text-align: center;
  margin-right: 6%;
  margin-top: 4%;
}

.technologies_header {
  margin-left: 6%;
}
