.process {
  font-size: calc(var(--large) + 15px);
}
.process_info {
  width: 65%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  color: #ffffff;
}
.process_info div {
  margin-right: 4%;
}
.title {
  color: white;
  font-size: calc(var(--processTitle) + 5px);
}
.process_icons {
  font-size: calc(var(--processTitle) + 5px);
}
.main_process {
  margin-top: 7%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.process__item_icon {
  display: contents;
}
