.process {
  font-size: calc(var(--large) + 15px);
}
.process_info {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  color: #ffffff;
}
.process_info div {
  margin-right: 4%;
}
.title {
  color: white;
  font-size: calc(var(--processTitle) + 5px);
}
.process_icons {
  font-size: calc(var(--processTitle) + 5px);
}
