@import url("http://fonts.cdnfonts.com/css/mont");

.contact_us {
  font-family: "Mont";
  font-style: normal;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.contact_map {
  margin-top: 5%;
  width: 40%;
  margin-right: 4%;
}
.contact_form {
  margin-top: 4%;
  width: 48%;
}
.contact_title {
  font-family: "Mont";
  font-style: normal;
  color: #0fb7c0;
  font-weight: 900;
  font-size: 56px;
}
.contact_info {
  font-family: "Mont";
  font-style: normal;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 82%;
  justify-content: space-between;
}
.contact_phone {
  display: flex;
  align-items: center;
  margin-right: 4%;
}
.contact_email {
  display: flex;
}
.contact_form div span {
  display: flex;
  align-items: center;
}
span {
  margin-left: 5px;
}
form {
  margin-top: 5%;
}
.form_input {
  color: #bfbfbf;
  width: 82%;
  border: none;
  border-bottom: 1px solid #bfbfbf;
  background-color: black;
  margin-top: 10px;
  height: 40px;
}
.form_input:focus {
  border: none;
  outline: none;
  background-color: black;
  border-bottom: 1px solid #0fb7c0;
}
.form_input:hover {
  border: none;
  outline: none;
  background-color: none;
  border-bottom: 1px solid #0fb7c0;
}
.form_input::placeholder {
  color: #bfbfbf;
  padding-left: 12px;
}
.form_btn {
  margin-top: 22px;
  width: 100px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #bfbfbf;
  color: #bfbfbf;
  width: 41%;
}
