@import url("http://fonts.cdnfonts.com/css/mont");

.ceo_smm .subtitle {
  display: none;
}

.ceo_smm .secondText {
  font-family: "Mont";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
}
