.main_servis {
  width: 100%;
  display: flex;
}
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.flex-row .servis-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 7%;
  width: 48%;
}

.flex-row .servis-img {
  margin-top: 6%;
}
.flex-revers {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
.flex-revers .servis-text {
  display: flex;
  flex-direction: column;
  margin-top: 7%;
  width: 48%;
}
.servis-text {
  color: white;
}
.flex-revers .servis-img {
  margin-top: 6%;
}
.mainTitle {
  font-size: calc(var(--title) + 50px);
  font-weight: 900;
  color: white;
}
