.header {
  font-weight: 900;
  font-size: 4.5em;
  line-height: 101px;
  color: #0fb7c0;
  margin-bottom: 24px;
  margin-top: 2%;
}
.subtitle {
  font-weight: 950;
  font-size: 144%;
  line-height: 31px;
  color: white;
}
.info_text {
  height: 125px;
  color: white;
  font-weight: 400;
  font-size: 144%;
  line-height: 130%;
  margin-top: 18px;
}
