@import "src/assets/styles/mixins";

.footer {
  grid-area: footer;
  width: 100%;
  display: flex;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: center;
  color: rgb(240, 240, 240);
  flex-direction: column;
  overflow: hidden;
}

.footer_modal {
  width: 100%;
  height: 120px;
}

.footer_social {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
  margin: 0;
}

@include l-tablet {
  .footer_social {
    gap: 10px;
  }
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms ease;

  &:hover {
    transform: translateY(-5px);
  }
}

.bounce_footer_modal_close {
  transition: 1s;
  display: none;
}

.footer_Line_but {
  background-color: transparent;
  border: none;
  gap: 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.footer__btnIcon {
  display: flex;
  justify-content: center;
  padding: 16px;
  background: rgba(242, 242, 242, 0.2);
  border-radius: 50px;
}

.footer__btnName {
  color: white;
  margin: 0 !important;
}


.vector {
  a{
    svg {
      path {
        fill: rgb(255, 205, 41);
      }
    }
  }
}

.linkedin {
  a{
    
  }
}

.facebook {
  a{
    
  }
}

.instagram {
  a{
    
  }
}

.vkontakte {
  a{
    
  }
}

.telegram {
  a{
    
  }
}

.whatsapp {
  a{
    
  }
}
