@import "./src/assets/styles/mixins";

.main_content {
  margin: 0 auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  font-weight: 900;
  font-size: 84px;
  color: #0fb7c0;
  padding: 15px;
}

.info_text {
  color: white;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  padding: 15px;
  width: 85%;
}

@include m-tablet {
  .header {
    font-size: 70px;
  }
}

@include l-tablet {
  .header {
    font-size: 45px;
  }
}