@import url("http://fonts.cdnfonts.com/css/mont");
:root {
  --small: 14px;
  --medium: 18px;
  --large: 34px;
  --textSize: 15px;
  --title: 30px;
  --left: 100px;
  --svgSize: 400px;
  --processTitle: 30px;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #0fb7c0;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
* {
  font-family: "Mont";
  font-style: normal;
  letter-spacing: 1px;
}

body {
  margin: 0;
  background-color: black;
}
